@import "../../styles/common.scss";

.about {
  @include x-gutter;

  .about-image {
    margin-bottom: 5rem;
    height: 200px;
    position: relative;
    overflow: hidden;

    img {
      object-fit: contain;
      transform: scale(1.35);
    }
  }

  .content {
    h1 {
      padding: 1rem 2rem;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;
    }

    span {
      color: $mainColor;
    }

    .who-are-we {
      display: flex;
      justify-content: center;
      gap: 25px;
      margin-bottom: 30px;

      .team-img {
        border-radius: 20px;
        width: 400px;
        height: auto;
        position: relative;
        overflow: hidden;

        img {
          object-fit: cover;
        }
      }

      .who-are-we-text {
        width: 50%;

        p {
          padding: 2rem;
          text-align: justify;
        }
      }
    }

    .choice-reason {
      margin-bottom: 50px;

      p {
        padding: 0 2rem;
        text-align: justify;
      }
    }

    .goals {
      display: flex;
      justify-content: center;
      gap: 50px;
      margin-bottom: 30px;

      p {
        padding: 0 2rem;
        text-align: justify;
      }

      .mission,
      .vision {
        width: 50%;
        padding-bottom: 1.3rem;
      }
    }

    .contact {
      p {
        padding: 0 2rem;
        text-align: center;
      }

      .social-media {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        a {
          color: $mainColor;
          border: 1px solid $mainColor;
          padding: 7px;
          border-radius: 50%;

          &:hover {
            cursor: pointer;
            background-color: rgba($color: $mainColor, $alpha: 0.1);
          }
        }
      }
    }
  }
}
