@import "../../styles/common.scss";

nav {
  display: flex;
  justify-content: center;

  .navbar-items {
    @include x-gutter;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &.fix {
      position: fixed;
      top: 5px;
      border-radius: 15px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
      z-index: 3;
      width: 80%;
      justify-self: center;
      transition: top 1s ease-in;
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
    }

    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      gap: 25px;
      width: auto;

      li {
        width: auto;

        a {
          width: 100%;
          font-weight: 500;

          &.active {
            position: relative;
            display: flex;
            justify-content: center;

            &::after {
              content: "";
              position: absolute;
              bottom: -10px;
              width: 7px;
              height: 7px;
              border-radius: 50%;
              background-color: $mainColor;
            }
          }
        }
      }
    }

    .user-stuff {
      display: flex;
      gap: 20px;

      #cart {
        position: relative;

        &::before {
          content: attr(data-count);
          position: absolute;
          top: -10px;
          right: -10px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: $mainColor;
          color: white;
          font-size: 10px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
