@import "../../styles/common.scss";

nav {
  @include x-gutter;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    width: auto;

    li {
      width: auto;

      a {
        width: 100%;
        font-weight: 500;

        &.active {
          position: relative;
          display: flex;
          justify-content: center;

          &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $mainColor;
          }
        }
      }
    }
  }

  .user-stuff {
    display: flex;
    gap: 20px;
  }
}
