@import "../../styles/common.scss";

.service-qualification {
  padding: 2rem;

  h1 {
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .qualifications-box {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

    .qualification {
      width: 250px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;

      img {
        height: 85px;
      }

      h3 {
        font-weight: 500;
      }

      p {
        text-align: center;
      }
    }
  }
}
