@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== Reset CSS ================ */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* ====================== Global styles ================== */

html {
  background-image: linear-gradient(
    115deg,
    hsl(355deg 85% 97%) 0%,
    hsl(355deg 85% 98%) 31%,
    hsl(355deg 85% 98%) 40%,
    hsl(355deg 85% 98%) 43%,
    hsl(355deg 86% 99%) 43%,
    hsl(355deg 86% 99%) 45%,
    hsl(355deg 86% 99%) 48%,
    hsl(355deg 86% 99%) 57%,
    hsl(355deg 87% 100%) 73%,
    hsl(0deg 0% 100%) 100%
  );
  background-image: -moz-linear-gradient(
    115deg,
    hsl(355deg 85% 97%) 0%,
    hsl(355deg 85% 98%) 31%,
    hsl(355deg 85% 98%) 40%,
    hsl(355deg 85% 98%) 43%,
    hsl(355deg 86% 99%) 43%,
    hsl(355deg 86% 99%) 45%,
    hsl(355deg 86% 99%) 48%,
    hsl(355deg 86% 99%) 57%,
    hsl(355deg 87% 100%) 73%,
    hsl(0deg 0% 100%) 100%
  );
  background-image: -webkit-linear-gradient(
    115deg,
    hsl(355deg 85% 97%) 0%,
    hsl(355deg 85% 98%) 31%,
    hsl(355deg 85% 98%) 40%,
    hsl(355deg 85% 98%) 43%,
    hsl(355deg 86% 99%) 43%,
    hsl(355deg 86% 99%) 45%,
    hsl(355deg 86% 99%) 48%,
    hsl(355deg 86% 99%) 57%,
    hsl(355deg 87% 100%) 73%,
    hsl(0deg 0% 100%) 100%
  );
  background-image: -o-linear-gradient(
    115deg,
    hsl(355deg 85% 97%) 0%,
    hsl(355deg 85% 98%) 31%,
    hsl(355deg 85% 98%) 40%,
    hsl(355deg 85% 98%) 43%,
    hsl(355deg 86% 99%) 43%,
    hsl(355deg 86% 99%) 45%,
    hsl(355deg 86% 99%) 48%,
    hsl(355deg 86% 99%) 57%,
    hsl(355deg 87% 100%) 73%,
    hsl(0deg 0% 100%) 100%
  );
}
