@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== Reset CSS ================ */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* ====================== Global styles ================== */

html {
  background-image: linear-gradient(
    120deg,
    hsl(0deg 100% 98%) 0%,
    hsl(0deg 100% 98%) 7%,
    hsl(0deg 100% 98%) 15%,
    hsl(0deg 100% 98%) 22%,
    hsl(0deg 100% 99%) 30%,
    hsl(0deg 100% 99%) 37%,
    hsl(0deg 100% 99%) 45%,
    hsl(0deg 100% 99%) 52%,
    hsl(0deg 100% 100%) 61%,
    hsl(0deg 100% 100%) 71%,
    hsl(0deg 0% 100%) 89%
  );
}
