@import "../../styles/common.scss";

.brand-name {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  height: 100;

  img {
    translate: 0 -2px;
  }

  span:nth-child(2) {
    color: $mainColor;
  }
}
