$mainColor: #ff3b47;
$blueNight: #1e2133;

@mixin x-gutter {
  padding: 0% 10%;
}

@mixin buttonStyle($pY, $pX, $radius) {
  padding: $pY $pX;
  border: none;
  outline: none;
  background-color: $mainColor;
  color: white;
  font-weight: 500;
  border-radius: $radius;
  cursor: pointer;
}
